.first{
    background-color: #18A6AF;
    width: 500px;
    height: 250px;
    margin-left: 499px;
    margin-top: 245px;
    border-radius: 60px 0px 60px 0px;
}

h1{
    text-align: center;
    color: white;
    font-size: 100px;
    padding: 60px;
}

.second{
    background-color: #764C2F;
    width: 530px;
    height: 250px;
    margin-left: 479px;
    margin-top: -305px;
    position: absolute;
    left: 13px;
    top: 550px;
    z-index: -1;
    border-radius: 60px 0px 60px 0px;
}